/* ----------------------------- Clubs ---------------------------------------- */
    .input-group.search-box {
      position: relative;
    }
    main{
    margin-bottom: 30px;
    }
    .searchbox{
    margin-bottom: 30px;
    margin-top:30px;
    }

    .input-group.search-box input[type="search"] {
      border-radius: 9999px;
      padding-left: 2.5rem;
      height: 2.8rem;
      border: 1px solid #ccc;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: 100%;
    }

    .input-group.search-box .input-group-label {
      border: none;
      background: transparent;
      position: absolute;
      z-index: 10;
      padding-left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      color: #999;
    }


    .card img {
      height: 200px;
      object-fit: cover;
      width: 100%;
    }


    .card {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      transition: transform 0.2s ease;
    }
    .card:hover {
      transform: translateY(-4px);
    }


    .card-link {
      color: inherit;
      text-decoration: none;
    }
    .card-link:hover h5 {
      color: #1779ba;
    }
    .circle-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.9rem;
      margin-right: 10px;
    }
/*-------------------------- Fin club -----------------------------------*/
